body {
    overflow: hidden;
}

.grid {
    background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 13.084112149532709vw 48px;
    background-position-x: 8.5vh;
    background-attachment: local;
}

.gridY {
    position: relative;
    height: 1152px;
    background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 100% 4.166666666666667%;
    background-attachment: local;
    background-repeat: round;
}

.main-title {
    font-size: 24px;
}

#calendar {
    display: flex;
    flex-direction: column;
    height: 93vh;
}

.week {
    display: flex;
    align-items: center;
    flex-basis: 7vh;
}

.week > * {
    flex: 2;
    text-align: center;
}

.week :nth-child(1) {
    flex: 1;
}

.week-data {
    display: flex;
    overflow-y: scroll;
}

.week-data > * {
    flex: 2;
    text-align: center;
}

.week-data .timetable {
    flex: 1;
    align-items: flex-end;
}

.timetable {
    display: flex;
    flex-direction: column;
}

.times {
    line-height: 3;
}

.elevate {
    position: relative;
    top: -3.5vh;
}

.event {
    position: absolute;
    width: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: yellowgreen;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
}

.event.open {
    box-shadow: 
      0 6px 10px 0 rgba(0,0,0,0.14),
      0 1px 18px 0 rgba(0,0,0,0.12),
      0 3px 5px -1px rgba(0,0,0,0.2);
}

.event-summary {
    font-size: 12px;
}

.event-info {
    font-size: 11px;
    font-weight: 300;
    flex: 1;
}

tbody {
    overflow-y: scroll;
    flex-basis: 93vh;
}

tr {
    display: flex;
    min-height: 8vh;
}

th, td {
    flex: 1;
}
