body {
    overflow: hidden;
}

.grid {
    background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 13.084112149532709vw 48px;
    background-position-x: 8.5vh;
    background-attachment: local;
}

.gridY {
    position: relative;
    height: 1152px;
    background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 100% 4.166666666666667%;
    background-attachment: local;
    background-repeat: round;
}

.header-color {
    background-color: #deccad20;
}

.main-title {
    font-size: 24px;
}

.modal {
    transform: translateY(-100vh);
    opacity: 0;
}

.modal.open {
    opacity: 1;
    transform: translateY(0vh);
    transition: transform 0.5s, opacity 0.5s;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body > * {
    text-align: left;
    background-color: inherit;
    border: 0;
}

.users {
    border: 0;
}

#calendar {
    display: flex;
    flex-direction: column;
    height: 91vh;
}

.show-week {
    white-space: nowrap;
}

.week {
    display: flex;
    align-items: center;
    flex-basis: 7vh;
    background-color: #deccad12;
}

.week > * {
    flex: 2;
    text-align: center;
}

.week :nth-child(1) {
    flex: 1;
}

.week-data {
    display: flex;
    overflow-y: scroll;
}

.week-data > * {
    flex: 2;
    text-align: center;
}

.week-data .timetable {
    flex: 1;
    align-items: flex-end;
}

.timetable {
    display: flex;
    flex-direction: column;
}

.times {
    line-height: 3;
}

.elevate {
    position: relative;
    top: -3.5vh;
}

.event {
    position: absolute;
    width: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: yellowgreen;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
}

.event:focus {
    outline: 0;
}

.event.open {
    box-shadow: 
      0 6px 10px 0 rgba(0,0,0,0.14),
      0 1px 18px 0 rgba(0,0,0,0.12),
      0 3px 5px -1px rgba(0,0,0,0.2);
}

.event-summary {
    font-size: 12px;
}

.event-info {
    font-size: 11px;
    font-weight: 300;
    flex: 1;
}

.modal-outer {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.modal-outer.open {
    opacity: 1;
    pointer-events: all;
  }


.event-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 1px solid black;
    border-radius: 3px;
}

.event-data {
    display: flex;
}

.general {
    display: flex;
    flex-basis: 55%;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
}

.general > * {
    width: 100%;
    text-align: left;
    padding: 0.5em;
}

#summary {
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    background-color: inherit;
    border: 0;
}

#description {
    font-size: 12px;
    font-weight: 300;
    background-color: inherit;
    border: 0;
    flex: 2;
}

.start-end-time {
    flex: 1;
    font-size: 12px;
    font-weight: 400;
}

.event-time {
    flex: 1;
    font-size: 12px;
    font-weight: 300;
    background-color: inherit;
    border: 0;
}

.participants {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    flex-basis: 45%;
}

#attendees {
    width: 100%;
    flex: 1;
    font-size: 14px;
    font-weight: 400;
}

#attendees li {
    font-size: 12px;
    font-weight: 300;
    margin-top: 0.3em;
}

.event-buttons {
    display: flex;
    border: 1px solid black;
}

.event-buttons > * {
    border: 0;
    flex: 1;
    justify-content: space-evenly;
}

.event-action-button {
    width: 60%;
    border: 1px solid black;
    margin: 0.5em;
}

.dark {
    color: #f6fff8;
  }
